@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background: #eee;
}

.boards {
  display: flex;
  margin: 0 -5px;
  padding: 30px;

  > div {
    padding: 0 5px;
    flex: 1;
  }
}

mat-spinner {
  margin: 30px auto;
}

mat-card-content {
  margin-bottom: 0 !important;
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
